<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cheem's Choice Cuts</title>
</head>
<body>
  <h1>Welcome To Cheem's Choice Cuts</h1>
  <h2>Your source for Media Recommendations as a "Child of Cheem"</h2>

</body>
</html>